<script type="text/javascript">
  const getCookie = name => {
    if (document.cookie && document.cookie !== "") {
      for (const cookie of document.cookie.split(";")) {
        const [key, value] = cookie.trim().split("=");
        if (key === name) {
          return decodeURIComponent(value);
        }
      }
    }
  };
  const csrftoken = getCookie('csrftoken');


  const changeStyles = jsonResponse => {
    const selector = document.getElementsByName(jsonResponse.tweet_id)[0];
    if (jsonResponse.liked) {
      console.log("liked")
      selector.innerHTML = "<i class='fas fa-lg fa-heart like-red'></i>";
    } else {
      console.log("not liked")
      selector.innerHTML = "<i class='far fa-lg fa-heart'></i>";
    }
    document.getElementsByName(jsonResponse.tweet_id + "-count")[0].textContent = jsonResponse.count;
  }


  const likeButtons = document.querySelectorAll('[data-button="like"]');
  likeButtons.forEach(likeButton => {
    const tweet_id = likeButton.getAttribute("name");
    likeButton.addEventListener("click", () => {
      fetch(likeButton.dataset.url, {
        method: "POST",
        headers: {
          'Content-Type': 'x-www-form-urlencoded',
          'X-CSRFToken': csrftoken
        },
        credentials: "include"
      }).then(response => {
        if (!response.ok) {
          throw new Error('Not ok');
        }
        return response.json();
      }).then(data => {
        console.log(data);
        changeStyles(data);
      }).catch(error => {
        console.log(error);
      })
    })
  })
</script>
