<script type="text/javascript">
  console.log("ok")
  const getCookie = (name) => {
    if (document.cookie && document.cookie !== "") {
      for (const cookie of document.cookie.split(";")) {
        const [key, value] = cookie.trim().split("=");
        if (key === name) {
          return decodeURIComponent(value);
        }
      }
    }
  };
  const csrftoken = getCookie('csrftoken');


  const changeStyles = jsonResponse => {
    selector = document.getElementsByName(jsonResponse.tweet_id);
    if (jsonResponse.liked) {
      $(selector).html("<i class='fas fa-lg fa-heart'></i>");
    }
    else {
      $(selector).html("<i class='far fa-lg fa-heart like-red'></i>");
    }
    selector2 = document.getElementsByName(jsonResponse.tweet_id + "-count");
    $(selector2).text(jsonResponse.count);
  }


  // async function likefunc(event) {
  //   const postBody = {
  //     tweet_id: this.getAttribute("name"),
  //   };
  //   event.preventDefault()
  //   const url = "{% url 'tweets:like' tweet.pk %}";
  //   const postData = {
  //     method: "POST",
  //     body: JSON.stringify(postBody),
  //     headers: {
  //       "Content-Type": "application/json",
  //       "X-CSRFToken": csrftoken,
  //     },
  //   };
  //   const response = await fetch(url, postData);
  //   const json = await response.json();
  //   changeStyles(json)
  // };


  const likeButtons = document.querySelectorAll('#like');
  likeButtons.forEach(likeButton => {
    likeButton.addEventListener("click", () => {
      fetch("{% url 'tweets:like' tweet.pk %}", {
        method: "POST",
        body: JSON.stringify(postBody),
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken,
        }
      }).then(response => {
        if (!response.ok) {
          throw new Error('Not ok');
        }
        return response.json();
      }).then(data => {
        console.log(data);
      }).catch(error => {
        console.log(error);
      })
    })
  })
</script>
